
body {
  background-color: royalblue;
  color: white;
  font-family: 'Arial', sans-serif;
}

.card-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.profile-card {
  max-width: 400px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-image {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 15px;
}

.profile-info {
  text-align: left; /* Alinea el texto a la izquierda */
  margin-bottom: 15px;
}

.profile-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px; /* Aumenta el margen entre los botones y el siguiente elemento */
}

.profile-section {
  margin-bottom: 20px;
}

.profile-footer {
  text-align: center;
  background-color: lightgrey; /* Fondo gris claro */
  padding: 10px; /* Agrega un poco de espacio interno */
}

.profile-footer a {
  margin: 0 15px; /* Aumenta el margen entre los enlaces */
  color: white;
  text-decoration: none;
}
